<?php
	session_start();

?>
<!DOCTYPE html>
  <html lang="fr">
      <head>
          <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">        
            <title>{{ nom_site }}</title>
            <meta name="description" content="">
             <link rel="stylesheet" href="css/normalize.css">
             <link rel="stylesheet" href="css/skeleton.css">
             <link rel="stylesheet" href="css/style.css">


            <!-- Materiel Design Lite -->
      </head>
<body>      
<header>
  <h1>{{ nom_site }}</h1>
</header>
{{menu| raw}}

<div class="container">
{{recapitulatif | raw}}

<form>
    <!-- form controls -->
    <input type="submit" value="Back" formaction="step0.php">
    <input type="submit" value="Validate" formaction="saveData.php">
</form>

</div>

<footer>
  <p>{{footer| raw}}</p>
</footer>



</body>
</html>
<?php /** Generated using the FastSubscriptionSiteGenerator library */ ?>
