<?php
	session_start();
?>
<!DOCTYPE html>
  <html lang="fr">
      <head>
          <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">        
            <title>{{ nom_site }}</title>
            <meta name="description" content="">
             <link rel="stylesheet" href="css/skeleton.css">
             <link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/jquery-ui.css">

	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui.js" type="text/javascript"></script>

    {{ jsfunctions | raw}}


      </head>
<body>  
	    
<header>
  <h1>{{ nom_site }}</h1>
</header>
{{menu| raw}}
<section>
<div class="container">
{{identity| raw}}
{{form | raw}}
</div>
</section>

<footer>
  <p>{{footer| raw}}</p>
</footer>


<script>
$(document).ready(function() {
    // adapt step height to content (if multiple lines)
	var maxHeight=$('.checkout-bar-H li:first').innerHeight();
	var minHeight=maxHeight;
	$('.checkout-bar-H li').each(function(i)
	{
	   var val=$(this).innerHeight();
	   if(val>maxHeight)
		maxHeight=val;
	   if(val<minHeight)
		minHeight=val;
	});
	if(maxHeight!=minHeight)
	{
		$('.checkout-bar-H li').each(function(i)
		{
		   var val=$(this).innerHeight();
		   $(this).before().css('top',val-maxHeight);

		});
	}
});
</script>

</body>
</html>

<!-- Generated using the FastSubscriptionSiteGenerator library-->
